@import "../../mixins";

.products {
    box-sizing: content-box;
    @include d-flex(column, center, center);
}

.table-wrapper {
    overflow-x: auto;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    padding: 1rem;
    border-radius: 16px;
}

table{
    width: 100%;
}

td, th {
    text-align: center;
    padding-left: 1rem;
}